<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="ZXing for JS">

  <title>Камера</title>

  <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
  <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null" href="https://unpkg.com/milligram@1.3.0/dist/milligram.min.css">
</head>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  h1 {
      text-align: center;
      background-color: #f2f2f2;
      margin: 4px -100px;
    }
</style>

<body>
  

  <main class="wrapper" style="padding-top:2em">
    <h1>Камера Школы №{{user_data[0]}}, город {{user_data[1]}}</h1>

      
      <div>
        <video id="video" width="600" height="500" style="border: 1px solid gray; align-items: center"></video>
      </div>
      <div>
        <a class="button" id="startButton">Начать</a>
        <a class="button" id="resetButton">Обновить</a>
      </div>
      <div id="sourceSelectPanel" style="display:none">
        <label for="sourceSelect">Выберите камеру:</label>
        <select id="sourceSelect" style="max-width:700px">
        </select>
      </div>

      <div style="display: table">
        <label for="decoding-style">Вид сканирования:</label>
        <select id="decoding-style" size="1">
          <!-- <option value="once">Одиночный</option> -->
          <option value="continuously">Циклический</option>
        </select>
      </div>

      <!-- <label>Result:</label>
      <pre><code id="result"></code></pre> -->


  </main>
  <script type="text/javascript" src="static\megajs.js"></script>
  <!-- <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script> -->
  <script type="text/javascript">
    // одиночное сканирование
    // function decodeOnce(codeReader, selectedDeviceId) {
    //   codeReader.decodeFromInputVideoDevice(selectedDeviceId, 'video').then((result) => {
    //     var form_data = new FormData();
    //     form_data.append("data", result)
    //     console.log(result)
    //     fetch('http://127.0.0.1:5000/cam', {
    //       method: 'POST',
    //       body: form_data
    //     })
    //     document.getElementById('result').textContent = result.text
    //   }).catch((err) => {
    //     console.error(err)
    //     document.getElementById('result').textContent = err
    //   })
    // }
  
    function decodeContinuously(codeReader, selectedDeviceId) {
  let backgroundChangeInterval;
  setInterval(() => {
    codeReader.decodeFromInputVideoDevice(selectedDeviceId, 'video').then((result) => {
      if (result) {
        var form_data = new FormData();
        form_data.append("data", result);
        fetch('http://127.0.0.1:5000/cam', {
          method: 'POST',
          body: form_data
        }).then(response => response.text())
          .then(serverResponse => {
            console.log('Server Response:', serverResponse);

            if (serverResponse.trim().toLowerCase() === 'no') {
              document.body.style.backgroundColor = 'rgb(248, 117, 117)'; 
            } else if (serverResponse.trim().toLowerCase() === 'yes') {
              document.body.style.backgroundColor = 'rgb(87, 247, 117)'; 
            }

            clearTimeout(backgroundChangeInterval);
            backgroundChangeInterval = setTimeout(() => {
              document.body.style.backgroundColor = 'white';
            }, 2000);
            console.log('Found QR code!', result);
            // document.getElementById('result').textContent = result.text
          })
          .catch(error => console.error('Error during fetch:', error));
      }
    }).catch(err => {
      if (err instanceof ZXing.NotFoundException) {
        console.log('No QR code found.');
      } else if (err instanceof ZXing.ChecksumException) {
        console.log('A code was found, but its read value was not valid.');
      } else if (err instanceof ZXing.FormatException) {
        console.log('A code was found, but it was in an invalid format.');
      } else {
        console.error('Error during decoding:', err);
      }
    });
  }, 3000);
}  
    window.addEventListener('load', function () {
      let selectedDeviceId;
      const codeReader = new ZXing.BrowserQRCodeReader()
  
      codeReader.getVideoInputDevices()
        .then((videoInputDevices) => {
          const sourceSelect = document.getElementById('sourceSelect')
          selectedDeviceId = videoInputDevices[0].deviceId
          if (videoInputDevices.length >= 1) {
            videoInputDevices.forEach((element) => {
              const sourceOption = document.createElement('option')
              sourceOption.text = element.label
              sourceOption.value = element.deviceId
              sourceSelect.appendChild(sourceOption)
            })
  
            sourceSelect.onchange = () => {
              selectedDeviceId = sourceSelect.value;
            };
  
            const sourceSelectPanel = document.getElementById('sourceSelectPanel')
            sourceSelectPanel.style.display = 'block'
          }
  
          document.getElementById('startButton').addEventListener('click', () => {
            const decodingStyle = document.getElementById('decoding-style').value;
  
            if (decodingStyle == "once") {
              decodeOnce(codeReader, selectedDeviceId);
            } else {
              decodeContinuously(codeReader, selectedDeviceId);
            }
  
            console.log(`Started decode from camera with id ${selectedDeviceId}`)
          })
  
          document.getElementById('resetButton').addEventListener('click', () => {
            codeReader.reset()
            document.getElementById('result').textContent = '';
            console.log('Reset.')
          })
  
        })
        .catch((err) => {
          console.error(err)
        })
    })
  </script>
  
  

</body>

</html>

