<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css"> -->

    <style>
      .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
} 

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

body{
    background-image: url(static/1026.jpg);
}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h4 class="text-center">Регистрация пользователя</h4>
                <form method="POST" action="/register" class="px-4 py-3 justify-content-center border border-primary border-3 rounded">
                    <div class="form-group">
                      <label for="name">Имя</label>
                      <input class="form-control" name ='name' id="name" placeholder="Имя" required>

                      <label for="name">Фамилия</label>
                      <input class="form-control" name ='surname' id="surname" placeholder="Фамилия" required>

                      <label for="name">Школа</label>
                      <input class="form-control" type="number" name ='sch' id="sch" placeholder="Номер школы" required>

                      <label for="name">Город</label>
                      <input class="form-control"  name ='sity' id="sity" placeholder="Город" required>

                      <label for="name">Индекс</label>
                      <input class="form-control" type="number" name ='idx' id="idx" placeholder="Индекс школы" required>

                      <label for="name">Класс</label>
                      <input class="form-control" type="number" name ='ppl_class' id="ppl_class" placeholder="Номер класса" required>

                      <label for="name">Буква</label>
                      <input class="form-control" maxlength="1" name ='simv' id="simv" placeholder="Буква класса" required>

                      <label for="name">Логин</label>
                      <input class="form-control" name="login" id="login" placeholder="Логин" required>

                      <label for="name">Пароль</label>
                      <input class="form-control" type="password" name="password" id="password" placeholder="Пароль" required>

                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                  </form>
            </div>
        </div>
    </div>
    
</body>
</html>